@import "variable";
* {
    margin: 0px;
    padding: 0px;
}

.corner-shadow-box {
    box-shadow: 0 0 1px lightgray;
    border: 1px solid #eeeeee;
    border-radius: 5px;
}

.layout-breadcrumb {
    background-color: #f5f7f9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    position: fixed;
    top: 0px;
    ;
    left: 0px;
    padding-left: 170px;
    width: 100%;
    z-index: 9999;
    min-width: 900px;
    // z-index:1333;
}

.layout-content {
    background: #fff;
    border-radius: 4px;
    padding-top: 60px!important;
    overflow: hidden;
}

.ivu-row {
    position: static!important;
}